<nav class="max-h-20 shadow-md  sticky top-[61.5px] z-10 bg-white">
    <div class="max-w-[1280px] m-auto">
        <ul class="main-menu flex justify-center items-center uppercase">
            <li class="active">
                <a href="@Url.RouteUrl("Home")"
                   class="inline-block text-sm font-medium text-gray-500 px-5 py-3 hover:text-green-600">Trang chủ</a>
            </li>
            <li class="relative">
                <a href="@Url.RouteUrl("Product")"
                   class="inline-block text-sm font-medium text-gray-500 px-5 py-3 hover:text-green-600">Menu</a>
                <ul class="sub-menu border shadow-md hidden z-10 bg-white">
                    <li class="flex-1 px-2">
                        <p>
                            <a href="#" class="block text-green-600 uppercase font-bold p-2">Thức Uống</a>
                        </p>
                        <ul class="single-list">
                            <li><a href="#">Best Seller</a></li>
                            <li><a href="#">Trà trái cây</a></li>
                            <li><a href="#">Trà sữa</a></li>
                            <li><a href="#">Cà phê</a></li>
                            <li><a href="#">Đá xay</a></li>
                        </ul>
                    </li>
                    <li class="flex-1 px-2">
                        <p><a href="#" class="block text-green-600 uppercase font-bold p-2">Bánh</a></p>
                        <ul class="single-list">
                            <li><a href="#">Bánh mì</a></li>
                            <li><a href="#">Bánh cookies - croissant</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="relative">
                <a href="#"
                   class="inline-block text-sm font-medium text-gray-500 px-5 py-3 hover:text-green-600">Sản phẩm đóng gói</a>
                <ul class="sub-menu border shadow-md hidden z-10 bg-white">
                    <li class="flex-1 px-2">
                        <p><a href="#" class="block text-green-600 uppercase font-bold p-2">Trà</a></p>
                        <ul class="single-list">
                            <li><a href="#">Trà gói cao cấp</a></li>
                            <li><a href="#">Trà túi lọc</a></li>
                            <li><a href="#">Trà lài</a></li>
                            <li><a href="#">Trà xanh</a></li>
                            <li><a href="#">Trà sen</a></li>
                        </ul>
                    </li>
                    <li class="flex-1 px-2">
                        <p><a href="#" class="block text-green-600 uppercase font-bold p-2">Cà phê</a></p>
                        <ul class="single-list">
                            <li><a href="#">Cà phê hạt không bơ</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"
                   class="inline-block text-sm font-medium text-gray-500 px-5 py-3 hover:text-green-600">Về chúng tôi</a>
            </li>
        </ul>
    </div>
</nav>