<footer class="bg-green-800 text-white border-t">
    <div class="w-[1280px] m-auto">
        <div class="flex flex-wrap gap-2 text-center py-5">
            <div class="w-gap-2">
                <h2 class="text-lg font-semibold uppercase text-center m-3">Giới thiệu</h2>
                <ul class="">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Điều khoản bảo mật</a></li>
                    <li><a href="#">Điều khoản thanh toán</a></li>
                </ul>
            </div>
            <div class="w-gap-2">
                <h2 class="text-lg font-semibold uppercase text-center m-3">Danh mục</h2>
                <ul class="">
                    <li><a href="#">Best Seller</a></li>
                    <li><a href="#">Trà trái cây</a></li>
                    <li><a href="#">Trà sữa</a></li>
                    <li><a href="#">Cà phê</a></li>
                    <li><a href="#">Đá xay</a></li>
                </ul>
            </div>
            <div class="w-gap-2">
                <h2 class="text-lg font-semibold uppercase text-center m-3">Chăm sóc khách hàng</h2>
                <ul class="">
                    <li><a href="#">Trung tâm trợ giúp</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="w-gap-2">
                <h2 class="text-lg font-semibold uppercase text-center m-3">Theo dõi chúng tôi</h2>
                <ul class="">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Linkedin</a></li>
                </ul>
            </div>
            <div class="w-gap-2">
                <div class="flex justify-center items-center h-full">
                    <img src="../assets/img/bocongthuong.png" alt="Bộ Công Thương">
                </div>
            </div>
        </div>
    </div>
</footer>