<div class="border w-[80%] m-auto p-3 rounded-2xl">
    <h2 class="font-semibold text-green-800 text-lg underline my-2">Thức uống</h2>
    <ul class="">
        <li><a href="#" class="block px-2 py-1">Trà gói cao cấp</a></li>
        <li><a href="#" class="block px-2 py-1">Trà túi lọc</a></li>
        <li><a href="#" class="block px-2 py-1">Trà lài</a></li>
        <li><a href="#" class="block px-2 py-1">Trà xanh</a></li>
        <li><a href="#" class="block px-2 py-1">Trà sen</a></li>
    </ul>
    <h2 class="font-semibold text-green-800 text-lg underline my-2">Bánh</h2>
    <ul class="">
        <li><a href="#" class="block px-2 py-1">Bánh mì</a></li>
        <li><a href="#" class="block px-2 py-1">Bánh cookies - croissant</a></li>
    </ul>
</div>