<div class="fixed bottom-10 right-5">
    <a href="@Url.RouteUrl("Order")">
        <i class='bx bx-cart-add text-xl px-5 py-4 bg-green-700 text-white rounded-[50%] border-2 border-white'></i>
    </a>
</div>